<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 3, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="blockjs/css/bootstrap.min.css" rel="stylesheet">
    <link href="blockjs/css/style.css" rel="stylesheet">

    <script src="blockjs/js/jquery.min.js"></script>
    <script src="CryptoJS/components/core-min.js"></script>
    <script src="CryptoJS/rollups/aes.js"></script>
    <script src="CryptoJS/components/enc-base64-min.js"></script>
    <script src="CryptoJS/components/enc-utf16-min.js"></script>
    <script src="CryptoJS/rollups/sha256.js"></script>
    <script>

      function encrypt(text,key){
      return '' + CryptoJS.AES.encrypt(text,key);
      }
      
      function decrypt(cipher,key){
      var decrypted = CryptoJS.AES.decrypt(cipher,key);
      return decrypted.toString(CryptoJS.enc.Utf8);
      }
      
      function sha256(text) {
      return CryptoJS.SHA256("Message").toString(CryptoJS.enc.Base64) 
      }
    </script>


</head>
<body>

<script>
    data = <%- JSON.stringify(cargo) %>;
    //console.log(typeof(data));
    //console.log(data.name);
    //array1 = data.name.data;

</script>



<br>
<svg id="p1" height="600" width="900"></svg>




<script src="blockjs/js/bootstrap.min.js"></script>
<script src="blockjs/client/bundle.js"></script>
</body>
</html>
