<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 3, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">



    <!-- BS  -->
    <script src="blockjs/js/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>


    <script src="CryptoJS/components/core-min.js"></script>
    <script src="CryptoJS/rollups/aes.js"></script>
    <script src="CryptoJS/components/enc-base64-min.js"></script>
    <script src="CryptoJS/components/enc-utf16-min.js"></script>
    <script src="CryptoJS/rollups/sha256.js"></script>
    <script>

      function encrypt(text,key){
      return '' + CryptoJS.AES.encrypt(text,key);
      }
      
      function decrypt(cipher,key){
      var decrypted = CryptoJS.AES.decrypt(cipher,key);
      return decrypted.toString(CryptoJS.enc.Utf8);
      }
      
      function sha256(text) {
      return CryptoJS.SHA256("Message").toString(CryptoJS.enc.Base64) 
      }
    </script>


</head>
<body>

<script>
    data = <%- JSON.stringify(cargo) %>;
    //console.log(typeof(data));
    //console.log(data.name);
    //array1 = data.name.data;

</script>



<div class="container-fluid">
  <input type="button" class="btn btn-info btn-large" value="Add to Factom" onclick="addToFactom()"/>
  <script>
    function addToFactom() {
    $.getJSON("http://139.196.190.15:3002/info",function(data){
    console.log(data);
           var ID = data.ID;
           var Key = data.Key;
           var encrypted = encrypt(JSON.stringify({'name':'John Smith','age':38,'gender':'male'}),Key);
           console.log(encrypted);
           $.post("http://139.196.190.15:3002/append",{id:ID,encrypted:encrypted},function(result){
               console.log(result);
           });
        });
    }
  </script>





</div>




<br>
<svg id="p1" height="1200" width="900"></svg>




<script src="blockjs/js/bootstrap.min.js"></script>
<script src="blockjs/client/bundle.js"></script>
</body>
</html>
