<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 3, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="blockjs/css/bootstrap.min.css" rel="stylesheet">
    <link href="blockjs/css/style.css" rel="stylesheet">

    <script src="blockjs/js/jquery.min.js"></script>



</head>
<body>

<script>
    data = <%- JSON.stringify(cargo) %>;
    //console.log(typeof(data));
    //console.log(data.name);
    //array1 = data.name.data;

</script>



<br>
<svg id="p1" height="600" width="900"></svg>




<script src="blockjs/js/bootstrap.min.js"></script>
<script src="blockjs/client/bundle.js"></script>
</body>
</html>